.container {
  background-color: var(--bgSoft);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--text);
  font-family: "Arial", sans-serif;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  background-color: var(--AddbuttonColor);
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: var(--AddbuttonColorHover);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bgSofter);
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  background-color: var(--bgSoftest);
  text-transform: uppercase;
}

.table td, .table th {
  padding: 15px;
  text-align: left;
  color: var(--textSoft);
  font-size: 14px;
}

.tableRow:hover {
  background-color: var(--bgSofter);
}

.status,
.cat {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  display: inline-block;
  color: white;
}

/* Paid status */
.status.unpaid {
  background-color: #ff6347;
}

.status.total {
  background-color: #32cd32;
}

.status.partial {
  background-color: #ffd700;
}

/* Estilo para categorias na página de tasks */

/* Categoria: Cancellation (Vermelho) */
.taskcategory.cancellation {
  background-color: #e74c3c; /* Vermelho */
  color: #fff;
}

/* Categoria: Renewal (Azul) */
.taskcategory.renewal {
  background-color: #3498db; /* Azul */
  color: #fff;
}

/* Categoria: Research Debts (Verde) */
.taskcategory.research-debts {
  background-color: #2ecc71; /* Verde */
  color: #fff;
}

/* Categoria: Second Copy/Changes (Amarelo) */
.taskcategory.second-copy-changes {
  background-color: #f1c40f; /* Amarelo */
  color: #fff;
}

/* Categoria: Budget (Rosa) */
.taskcategory.budget {
  background-color: #e91e63; /* Rosa */
  color: #fff;
}

/* Categoria: New Business (Ciano) */
.taskcategory.new-business {
  background-color: #00bcd4; /* Ciano */
  color: #fff;
}

/* Categoria: Endorsement (Verde Claro) */
.taskcategory.endorsement {
  background-color: #8bc34a; /* Verde Claro */
  color: #fff;
}

/* Categoria: New Plates (Dourado) */
.taskcategory.new-plates {
  background-color: #f39c12; /* Dourado */
  color: #fff;
}

/* Categoria: Transfer (Roxo) */
.taskcategory.transfer {
  background-color: #9b59b6; /* Roxo */
  color: #fff;
}

.description {
  font-size: 12px;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding: 0 !important;
  margin: 15px;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.viewButton {
  background-color: var(--successColor);
  color: white;
}

.viewButton:hover {
  background-color: var(--successColorHover);
}

.deleteButton {
  background-color: var(--warningColor);
  color: white;
}

.deleteButton:hover {
  background-color: var(--warningColorHover);
}

.buttons .view, .buttons .delete {
  display: flex;
  align-items: center;
  gap: 5px;
}
