/* Estilizando o View */

.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewContent {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
}

.clientInfo, .insuranceInfo, .carInfo {
  background-color: var(--bgSofter);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.clientInfo { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.insuranceInfo div, .carInfo div,.clientInfo div {
  width: 47%;
  word-break: break-all;
}

.infoContainer .carTitle,.infoContainer .insuranceTitle, .pdfContainer {
  font-weight: 600;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--text);
}

.formContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.formContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.formContainer {
  gap: 40px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
}

.inputContainer {
  width: 38%;
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--text);
}

.inputContainer input,
.inputContainer select,
.inputContainer textarea {
  padding: 15px 10px;
  border: 1px solid var(--inputBorder);
  border-radius: 5px;
  background-color: var(--inputBg);
  font-size: 16px;
  color: var(--inputText);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputContainer input:focus,
.inputContainer select:focus,
.inputContainer textarea:focus {
  border-color: var(--buttonColor);
  box-shadow: 0 0 5px var(--bgSoft);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row-reverse;
  width: 100%;
}

.buttonContainer:has(.prevButton) {
  flex-direction: row;
}

.titleLabel {
  width: 100%;
}

/* Botões */
.addButton,
.removeButton,
.submitButton,
.nextButton,
.prevButton,
.editButton,
.cancelButton {
  background-color: var(--buttonColor);
  color: white;
  border: none;
  padding: 20px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.addButton:hover,
.removeButton:hover,
.submitButton:hover,
.nextButton:hover,
.prevButton:hover,
.editButton:hover,
.cancelButton:hover {
  background-color: var(--buttonColorHover);
  transform: scale(1.05);
}

.removeButton {
  background-color: var(--warningColor);
}

.removeButton:hover {
  background-color: var(--warningColorHover);
}

.addButton {
  background-color: var(--AddbuttonColor);
  width: 78%;
}

.addButton:hover {
  background-color: var(--AddbuttonColorHover);
}

.editButton {
  background-color: var(--successColor);
}

.editButton:hover {
  background-color: var(--successColorHover);
}

.cancelButton {
  background-color: var(--warningColor);
}

.cancelButton:hover {
  background-color: var(--warningColorHover);
}

/* Barra de Progresso */
.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  gap: 10%;
}

/* Estilizando o Step */
.progressStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 14vh;
  text-align: center;
  align-content: center;
  border-radius: 59%;
  background-color: var(--bg);
  border: 1px solid var(--bgSofter);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--textSoft);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.progressStep::after {
  content: '';
  display: block;
  position: relative;
  bottom: 16%;
  left: 114%;
  width: 127.5%;
  height: 4px;
  background-color: var(--bgSofter);
  z-index: 2;
  transition: background-color 1s ease, width 1s ease;
  transform: translateY(-50%);
}

.progressStep:last-child::after {
  display: none !important;
}

.progressStep.active::after {
  background-color: var(--buttonColor);
}

.progressStep.active {
  background-color: var(--bgSofter);
  color: var(--text);
}

.progressLine {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  background-color: var(--buttonColor);
  transition: width 0.3s ease;
  z-index: -1;
  transform: translateY(-50%);
  width: 0;
}

/* Estilizando a Exibição dos PDFs */

.pdfInfo {
  background-color: var(--bgSofter);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}

.pdfInfo ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
}

.pdfInfo li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 47%;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pdfInfo li:nth-child(2) {
  border-left: 1px solid var(--inputBorder);
  padding-left: 2%;
}

.pdfInfo span {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  word-break: break-all;
  max-width: 60%;
}

.pdfInfo button {
  background-color: var(--buttonColor);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
}

.pdfInfo button:hover {
  background-color: var(--buttonColorHover);
  transform: scale(1.05);
}

.pdfInfo button.deleteButton {
  background-color: var(--warningColor);
}

.pdfInfo button.deleteButton:hover {
  background-color: var(--warningColorHover);
}

/* Loader */

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}