.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.infoContainer {
  font-size: 24px;
  margin-bottom: 10px;
  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 20px;
  margin-bottom: 10px;
}

.formContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 45%;
}

.inputContainer:has(textarea) {
  width: 100%;
  max-width: 100%;
}

.inputContainer label {
  margin-bottom: 5px;
}

.inputContainer input,
.inputContainer select,
.inputContainer textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.insuranceContainer,
.carContainer {
  padding: 10px;
  border: 1px solid #2e374a;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: #2e374a 0px 2px 4px -1px, #2e374a 0px 4px 5px 0px, #2e374a 0px 1px 10px 0px;
}

.addButton,
.removeButton,
.submitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.removeButton {
  background-color: #f44336;
  width: 100%;
}

.addButton:hover,
.removeButton:hover,
.submitButton:hover {
  opacity: 0.8;
}

.form input, .form textarea, .form select{
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 30px;
  }

  .titleLabel { 
    width: 100%;
    font-size: 24px;
  }