.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 24px;
  margin-bottom: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputContainer label {
  margin-bottom: 5px;
}

.inputContainer input,
.inputContainer select,
.inputContainer textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insuranceContainer,
.carContainer {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.addButton,
.removeButton,
.submitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.removeButton {
  background-color: #f44336;
}

.addButton:hover,
.removeButton:hover,
.submitButton:hover {
  opacity: 0.8;
}

.form input, .form textarea, .form select{
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 30px;
  }
