.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input, .form textarea, .form select{
padding: 30px;
background-color: var(--bg);
color: var(--text);
border: 2px solid var(--bgSofter);
border-radius: 5px;
margin-bottom: 30px;
}

.form div{
  display: flex;
  width: 45%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.form div:has(textarea) {
  width: 100%;
}
.form select {
  text-transform: capitalize;
}

.form button {
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type=number] {
  -moz-appearance: textfield;
}